src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4340af19-8f46-4db2-bb20-fc88e3670d02" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/human_resources" driverClassName="org.postgresql.Driver" user="postgres" password="root" />
	</db:config>
	<flow name="getCompaniesFlow" doc:id="105dbf94-4ca5-4a90-9701-a9dd0dbd1112" >
		<db:select doc:name="Select" doc:id="dee24bed-8975-4f91-a2cc-b9a443001f13" config-ref="Database_Config">
			<db:sql >SELECT * 
FROM company</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a254cf4c-f133-4c3a-80d5-390f05c47502" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	name: payload01.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ab688731-d3d0-404a-b0d0-587351dbd444" />
	</flow>
	<flow name="postCompaniesFlow" doc:id="9d3f8ecd-45c1-4624-ba95-9d8214b6d4b9" >
		<ee:transform doc:name="Transform Message" doc:id="50a1f1a6-4321-4802-91e4-c1f562aca292" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.name,
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.name]" doc:name="companyName" doc:id="30e411ba-0bbc-4c0a-bf59-d6d7d58d41f0" variableName="companyName"/>
		<db:insert doc:name="Insert" doc:id="d49a7817-9b8b-4aec-a41a-efecd305af58" config-ref="Database_Config">
			<db:sql >INSERT INTO company(name, creation_date)
VALUES(:name, :creationDate)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'name': vars.companyName,
	'creationDate': payload.creationDate
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#['Company ' ++ vars.companyName ++ ' was created successfully']" doc:name="Set Payload" doc:id="ce413b80-0f67-4407-bab2-e42b8e62b27d" />
		<logger level="INFO" doc:name="Logger" doc:id="af98f332-f137-4302-8712-5197cd948265" />
	</flow>
	<flow name="getCompanyByIdFlow" doc:id="37745091-1016-483e-af33-f4671e2d5be8" >
		<db:select doc:name="Select" doc:id="ace75bff-49a1-4bd0-875d-61adf5e92d6e" config-ref="Database_Config">
			<db:sql >SELECT * 
FROM company 
WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.companyId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="4c138172-0bb6-48b3-8a1b-4110054256df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id[0],
	name: payload.name[0],
	creationDate: payload.creation_date[0] as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c6b6a34d-b50c-4faf-a894-43b8523f7451" />
	</flow>
	<flow name="putCompanyByIdFlow" doc:id="eaa6c749-2874-4261-8da2-c93bbd72943e">
		<set-variable value="#[payload.name]" doc:name="companyName" doc:id="1b17e90a-3fe4-4450-9f55-1c7d10ac387d" variableName="companyName" mimeType="application/json"/>
		<db:update doc:name="Update" doc:id="00982528-7158-40b5-8c22-08a93027fd84" config-ref="Database_Config">
			<db:sql>UPDATE company SET name = :name WHERE id = :id</db:sql>
			<db:input-parameters >#[{'name': vars.companyName,
'id': vars.companyId}]</db:input-parameters>
		</db:update>
		<set-payload value="#['Company ' ++ vars.companyName ++ ' was modified successfully']" doc:name="Set Payload" doc:id="8c131779-88be-48ea-9ab8-285e6ec558ed" />
		<logger level="INFO" doc:name="Logger" doc:id="cd3c5fc1-ff10-4e2d-a497-5d6101e9aabb"/>
	</flow>
	<flow name="deleteCompanyByIdFlow" doc:id="d4e34719-5cd7-4ab9-b56f-ddaa7c7bb457" >
		<set-variable value="200" doc:name="httpStatus" doc:id="b4c2d6e0-4e96-4644-ae71-882b90c6f439" variableName="httpStatus"/>
		<db:select doc:name="Select" doc:id="cf64db82-8f66-4cb9-b716-ac78e037b6d9" config-ref="Database_Config">
			<db:sql >SELECT name 
FROM company
WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.companyId
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload.name]" doc:name="companyName" doc:id="5daec03b-f5d4-4865-9093-c73f4e6790e2" variableName="companyName"/>
		<db:delete doc:name="Delete" doc:id="e8d72e24-c183-4376-b7e2-a9f657190b36" config-ref="Database_Config">
			<db:sql >DELETE FROM company
WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.companyId
}]]]></db:input-parameters>
		</db:delete>
		<set-payload value="#['Company ' ++ vars.companyName[0] ++ ' was deleted successfully']" doc:name="Set Payload" doc:id="668b7e49-8569-4d71-8b14-6b1cb0573596" />
		<logger level="INFO" doc:name="Logger" doc:id="ecce0902-8186-4fab-be76-fcf3c95e0996" />
	</flow>
	<flow name="getDepartmentsFlow" doc:id="0ccd9795-700f-4f56-9930-f5cc0056121c" >
		<db:select doc:name="Select" doc:id="a2261b11-3857-4004-afb6-10c22aa1580b" config-ref="Database_Config">
			<db:sql >SELECT *
FROM department</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="64dbcfa4-0f38-4527-a760-df146432602b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	name: payload01.name,
	companyId: payload01.company_id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88efaccd-96fe-4622-893b-c6c5bc4d4ea0" />
	</flow>
	<flow name="postDepartmentsFlow" doc:id="efc057e5-21e5-4f64-87cc-331a11a1d0c4" >
		<ee:transform doc:name="Transform Message" doc:id="107867fc-474d-4195-b16d-34c81f6ee51a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.name,
	companyId: payload.companyId,
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.name]" doc:name="departmentName" doc:id="9d7e403e-4b06-4fb6-b878-e285d90a3f44" variableName="departmentName"/>
		<db:insert doc:name="Insert" doc:id="11c30909-974b-4e89-8b00-c03d3827c69c" config-ref="Database_Config">
			<db:sql >INSERT INTO department(name, company_id, creation_date)
VALUES(:name, :id, :creationDate)

</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'name': vars.departmentName,
	'id': payload.companyId,
	'creationDate': payload.creationDate
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#['Department ' ++ vars.departmentName ++ ' was created successfully']" doc:name="Set Payload" doc:id="b34620ec-e0f4-4ce3-8461-1eaecbd2a508" />
		<logger level="INFO" doc:name="Logger" doc:id="c1eae079-014f-41af-9ed1-f87f1ad9bc96" />
	</flow>
	<flow name="getDepartmentByIdFlow" doc:id="44e72232-562e-482d-976b-7ac5427bd721" >
		<db:select doc:name="Select" doc:id="601f74fe-e7d2-42a7-8b8c-fdea4fc6440a" config-ref="Database_Config">
			<db:sql >SELECT *
FROM department
WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.departmentId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a8e1cc18-8733-4c0a-af96-1f49394572d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id[0],
	name: payload.name[0],
	companyId: payload.company_id[0],
	creationDate: payload.creation_date[0] as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="602d91bb-2d8e-4d51-8355-0040254a333a" />
	</flow>
	<flow name="putDepartmentByIdFlow" doc:id="cdbcf3ea-7551-4af9-b979-392953b63e8a" >
		<ee:transform doc:name="Transform Message" doc:id="66c8c7a1-152c-4b84-9787-b2adb778672d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.name,
	companyId: payload.companyId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.name]" doc:name="departmentName" doc:id="5488939f-423f-47e8-8ea5-3f46d9f98030" variableName="departmentName" mimeType="application/json"/>
		<db:update doc:name="Update" doc:id="4545863e-dd55-4306-9ed8-ab887b5b38bd" config-ref="Database_Config">
			<db:sql >UPDATE department SET name = :name, company_id = :company_id WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'name': vars.departmentName,
	'company_id': payload.companyId,
	'id': vars.departmentId
}]]]></db:input-parameters>
		</db:update>
		<set-payload value="#['Department ' ++ vars.departmentName ++ ' was modified successfully']" doc:name="Set Payload" doc:id="57fc49f1-d241-4f31-9efd-2682456add88" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="0f527f55-1ca3-4fd0-be5a-a0b9c72e1cb6" />
	</flow>
	<flow name="deleteDepartmentByIdFlow" doc:id="40234b5a-2427-474d-b09a-5130513c37b2">
		<set-variable value="200" doc:name="httpStatus" doc:id="f1e64bb0-7c08-46e4-bbbd-f1654abfff49" variableName="httpStatus" />
		<db:select doc:name="Select" doc:id="d43ae250-1b4c-467d-bc28-7104f76e525b" config-ref="Database_Config">
			<db:sql>SELECT name 
FROM department
WHERE id = :id</db:sql>
			<db:input-parameters><![CDATA[#[{
	'id': vars.departmentId
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload.name]" doc:name="departmentName" doc:id="fb763781-bd7e-4624-ac84-c1aebb90212e" variableName="departmentName" />
		<db:delete doc:name="Delete" doc:id="703d179c-f263-4768-84b4-060f5ef47490" config-ref="Database_Config">
			<db:sql>DELETE FROM department
WHERE id = :id</db:sql>
			<db:input-parameters><![CDATA[#[{
	'id': vars.departmentId
}]]]></db:input-parameters>
		</db:delete>
		<set-payload value="#['Department ' ++ vars.departmentName[0] ++ ' was deleted successfully']" doc:name="Set Payload" doc:id="d909c7bb-e70e-4cad-b431-2efaef9d62e3" />
		<logger level="INFO" doc:name="Logger" doc:id="6100a28f-8624-4094-aafd-538a6c57d559" />
	</flow>
	<flow name="getDepartmentByCompanyIdFlow" doc:id="08f08216-146c-4c8f-8808-e60c0fc55909" >
		<db:select doc:name="Select" doc:id="e8589458-e0f7-4895-8e63-f4c2d5c52599" config-ref="Database_Config">
			<db:sql >SELECT *
FROM department
WHERE company_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.companyId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="826f9af1-5271-4888-8abc-4792dc1e9a06" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	name: payload01.name,
	companyId: payload01.company_id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5d04583a-127b-43ac-9f23-fc68b3bf58a8" />
	</flow>
	<flow name="postDepartmentByCompanyIdFlow" doc:id="45009723-f193-47ce-836a-add1c38de713" >
		<ee:transform doc:name="Transform Message" doc:id="16717a80-23bb-4398-b0af-202ec404f9ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: payload.name,
	companyId: vars.companyId,
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.name]" doc:name="departmentName" doc:id="7923f1e4-720f-4cca-adea-b520dd706a90" variableName="departmentName"/>
		<db:insert doc:name="Insert" doc:id="215983fa-cbb4-44f8-9b8c-42692df27f26" config-ref="Database_Config">
			<db:sql >INSERT INTO department(name, company_id, creation_date)
VALUES(:name, :id, :creationDate)

</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'name': vars.departmentName,
	'id': vars.companyId,
	'creationDate': payload.creationDate
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#['Department ' ++ vars.departmentName ++ ' was created successfully']" doc:name="Set Payload" doc:id="bdd53af8-b401-4bc8-b1af-ac0129b2d624" />
		<logger level="INFO" doc:name="Logger" doc:id="9e8823d8-92d6-4c3c-a419-a1d739c01f4b" />
	</flow>
	<flow name="getEmployeesFlow" doc:id="dc259574-8d4f-4454-8f8a-2d25472262f6" >
		<db:select doc:name="Select" doc:id="24ef28bd-fbbe-42af-a072-7f7bf549bc9f" config-ref="Database_Config">
			<db:sql >SELECT *
FROM employee</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b0fd03c1-9b21-411c-b956-47f4a0600e4e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	firstName: payload01.first_name,
	lastName: payload01.last_name,
	companyId: payload01.company_id,
	departmentId: payload01.department_id,
	position: payload01.position
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fbd6d013-b059-4498-9db6-dd76b28fae3c" />
	</flow>
	<flow name="postEmployeesFlow" doc:id="33dd9d90-94ec-41d0-90f7-99124cdcac80" >
		<ee:transform doc:name="Transform Message" doc:id="b06be82d-9fe4-4d9f-b841-fb6c63d542b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	age: payload.age,
	passportNumber: payload.passportNumber,
	phoneNumber: payload.phoneNumber,
	address: payload.address,
	companyId: payload.companyId,
	departmentId: payload.departmentId,
	position: payload.position,
	login: payload.login,
	password: payload.password,
	roles: payload.roles,
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.firstName ++ ' ' ++ payload.lastName]" doc:name="employeeName" doc:id="fc0fdceb-a6d1-4604-8137-1c292cd6b454" variableName="employeeName"/>
		<db:insert doc:name="Insert" doc:id="64828e46-bf56-4391-9588-1093a736631f" config-ref="Database_Config">
			<db:sql >INSERT INTO employee(first_name, last_name, address, age, company_id, department_id, password, login, passport_number, phone_number, position, creation_date, roles)
VALUES(:first_name, :last_name, :address, :age, :company_id, :department_id, :password, :login, :passport_number, :phone_number, :position, :creation_date, :roles)
</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'first_name': payload.firstName, 
	'last_name': payload.lastName, 
	'address': payload.address, 
	'age': payload.age, 
	'company_id': payload.companyId, 
	'department_id': payload.departmentId, 
	'password': payload.password, 
	'login': payload.login, 
	'passport_number': payload.passportNumber, 
	'phone_number': payload.phoneNumber, 
	'position': payload.position, 
	'creation_date': payload.creationDate, 
	'roles': payload.roles
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#['Employee ' ++ vars.employeeName ++ ' was created successfully']" doc:name="Set Payload" doc:id="c88096fe-599d-4ed3-8cf0-5e1b15d99a56" />
		<logger level="INFO" doc:name="Logger" doc:id="c2757931-21a8-4cc1-99ad-bc41e75287ad" />
	</flow>
	<flow name="getEmployeeByIdFlow" doc:id="58f247a2-2090-4bef-bc13-99877e137aaf" >
		<db:select doc:name="Select" doc:id="3491f1d1-b0f3-4790-8c5b-290507cb6135" config-ref="Database_Config">
			<db:sql >SELECT *
FROM employee
WHERE id =:id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.employeeId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c1ebaa16-2f29-4100-a249-e46270d1797a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id[0],
	firstName: payload.first_name[0],
	lastName: payload.last_name[0],
	age: payload.age[0],
	passportNumber: payload.passport_number[0],
	phoneNumber: payload.phone_number[0],
	address: payload.address[0],
	companyId: payload.company_id[0],
	departmentId: payload.department_id[0],
	position: payload.position[0],
	login: payload.login[0],
	password: payload.password[0],
	roles: payload.roles[0],
	creationDate: payload.creation_date[0] as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4a2c9bf1-421d-4d6a-a3c7-57df7f406426" />
	</flow>
	<flow name="putEmployeeByIdFlow" doc:id="bda3331e-8ca0-43a8-a06b-f96374d5709d" >
		<ee:transform doc:name="Transform Message" doc:id="06458473-df22-4238-8216-5708ac3c2288">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	age: payload.age,
	passportNumber: payload.passportNumber,
	phoneNumber: payload.phoneNumber,
	address: payload.address,
	companyId: payload.companyId,
	departmentId: payload.departmentId,
	position: payload.position,
	login: payload.login,
	password: payload.password,
	roles: payload.roles
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.firstName ++ ' ' ++ payload.lastName]" doc:name="employeeName" doc:id="f9dcfba5-54dd-45f2-be54-311dd113444b" variableName="employeeName" mimeType="application/json"/>
		<db:update doc:name="Update" doc:id="e89a9053-c93b-402c-bcd2-9cb2c673d706" config-ref="Database_Config">
			<db:sql >UPDATE employee SET first_name = :firstName, last_name = :lastName, age = :age, passport_number = :passportNumber, phone_number = :phoneNumber, address = :address, company_id = :companyId, 
department_id = :departmentId, position = :position, login = :login, password = :password, roles = :roles WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'firstName': payload.firstName,
	'lastName': payload.lastName,
	'age': payload.age, 
	'passportNumber': payload.passportNumber, 
	'phoneNumber': payload.phoneNumber,
	'address': payload.address,
	'companyId': payload.companyId,
	'departmentId': payload.departmentId, 
	'position': payload.position,
	'login': payload.login,
	'password': payload.password,
	'roles': payload.roles,
	'id': vars.employeeId
}]]]></db:input-parameters>
		</db:update>
		<set-payload value="#['Employee ' ++ vars.employeeName ++ ' was modified successfully']" doc:name="Set Payload" doc:id="0e052f0f-7373-477f-a6f0-c7fae68d513d" />
		<logger level="INFO" doc:name="Logger" doc:id="9f1c91dd-254d-4dfd-91e1-e2b5bdacb882" />
	</flow>
	<flow name="deleteEmployeeByIdFlow" doc:id="8f491c0e-d674-4d9e-89d3-6da667a12c88">
		<set-variable value="200" doc:name="httpStatus" doc:id="23250f2c-7f59-4825-b73e-0d2d965ea242" variableName="httpStatus" />
		<db:select doc:name="Select" doc:id="f44a986a-7a39-4ca9-bebb-e9ffdf4e8c67" config-ref="Database_Config">
			<db:sql>SELECT CONCAT(first_name, ' ', last_name)  
FROM employee
WHERE id = :id</db:sql>
			<db:input-parameters><![CDATA[#[{
	'id': vars.employeeId
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload.concat]" doc:name="employeeName" doc:id="e6dce7d1-9d50-478c-99b0-7004d5996be0" variableName="employeeName" />
		<db:delete doc:name="Delete" doc:id="5e06458e-db76-4e8e-95dc-5f59261fd349" config-ref="Database_Config">
			<db:sql>DELETE FROM employee
WHERE id = :id</db:sql>
			<db:input-parameters><![CDATA[#[{
	'id': vars.employeeId
}]]]></db:input-parameters>
		</db:delete>
		<set-payload value="#['Employee ' ++ vars.employeeName[0] ++ ' was deleted successfully']" doc:name="Set Payload" doc:id="a310323c-ecc4-4ee6-b2b6-f6c3c8f0275f" />
		<logger level="INFO" doc:name="Logger" doc:id="d3519bd3-c2e1-4d7f-993a-1fded9ca98be" />
	</flow>
	<flow name="getEmployeeByCompanyIdFlow" doc:id="cb66231b-638e-4ec0-b379-814e25a52af6" >
		<db:select doc:name="Select" doc:id="f9c54509-0da1-448c-bacd-c70057c42493" config-ref="Database_Config">
			<db:sql >SELECT *
FROM employee
WHERE company_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.companyId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="420fc432-f32a-4199-bffe-03a4e4e45bcf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	firstName: payload01.first_name,
	lastName: payload01.last_name,
	companyId: payload01.company_id,
	departmentId: payload01.department_id,
	position: payload01.position
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="38f9e466-a26c-453c-9262-3b7197032917" />
	</flow>
	<flow name="postEmployeeByCompanyIdFlow" doc:id="de7b5a7d-fe41-4261-9f4d-4d5b98736127" >
		<ee:transform doc:name="Transform Message" doc:id="40fd3e58-c1b3-47e9-ae3c-f2d349beaf21" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	age: payload.age,
	passportNumber: payload.passportNumber,
	phoneNumber: payload.phoneNumber,
	address: payload.address,
	companyId: vars.companyId,
	departmentId: payload.departmentId,
	position: payload.position,
	login: payload.login,
	password: payload.password,
	roles: payload.roles,
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.firstName ++ ' ' ++ payload.lastName]" doc:name="employeeName" doc:id="2098eb40-c705-4bfa-9268-b5a668daad0d" variableName="employeeName"/>
		<db:insert doc:name="Insert" doc:id="efa42a8a-03f0-47f0-a23c-abde697ca5c9" config-ref="Database_Config">
			<db:sql >INSERT INTO employee(first_name, last_name, address, age, company_id, department_id, password, login, passport_number, phone_number, position, creation_date, roles)
VALUES(:first_name, :last_name, :address, :age, :company_id, :department_id, :password, :login, :passport_number, :phone_number, :position, :creation_date, :roles)
</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'first_name': payload.firstName, 
	'last_name': payload.lastName, 
	'address': payload.address, 
	'age': payload.age, 
	'company_id': vars.companyId, 
	'department_id': payload.departmentId, 
	'password': payload.password, 
	'login': payload.login, 
	'passport_number': payload.passportNumber, 
	'phone_number': payload.phoneNumber, 
	'position': payload.position, 
	'creation_date': payload.creationDate, 
	'roles': payload.roles
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#['Employee ' ++ vars.employeeName ++ ' was created successfully']" doc:name="Set Payload" doc:id="279f5c9d-de8d-441e-a600-5b588b6371b9" />
		<logger level="INFO" doc:name="Logger" doc:id="98025fdf-e4b6-41ca-bf99-a08833d5d516" />
	</flow>
	<flow name="getEmployeesByDepartmentIdFlow" doc:id="e2acdc4f-0a61-4f9c-9a02-1be2c08cad67" >
		<db:select doc:name="Select" doc:id="0a8ab3fc-c26d-4684-81ae-6ba235abacb2" config-ref="Database_Config">
			<db:sql >SELECT * 
FROM employee 
WHERE department_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.departmentId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="76da8185-2945-46d2-8fe0-7217c81092bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	firstName: payload01.first_name,
	lastName: payload01.last_name,
	companyId: payload01.company_id,
	departmentId: payload01.department_id,
	position: payload01.position
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="285de2ce-6655-4948-ae86-8747f1497af4" />
	</flow>
	<flow name="postEmployeeByDepartmentIdFlow" doc:id="30af0867-e7fb-4812-86c0-0b1bb8f2cb1a" >
		<ee:transform doc:name="Transform Message" doc:id="b6cfe562-1daa-4671-96c5-e87bcf2ed13f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	age: payload.age,
	passportNumber: payload.passportNumber,
	phoneNumber: payload.phoneNumber,
	address: payload.address,
	companyId: payload.companyId,
	departmentId: vars.departmentId,
	position: payload.position,
	login: payload.login,
	password: payload.password,
	roles: payload.roles,
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.firstName ++ ' ' ++ payload.lastName]" doc:name="employeeName" doc:id="3527c0c8-a9b7-45de-bf80-523789225add" variableName="employeeName"/>
		<db:insert doc:name="Insert" doc:id="4159cb1f-c617-442c-a766-34ab3a1d1058" config-ref="Database_Config">
			<db:sql >INSERT INTO employee(first_name, last_name, address, age, company_id, department_id, password, login, passport_number, phone_number, position, creation_date, roles)
VALUES(:first_name, :last_name, :address, :age, :company_id, :department_id, :password, :login, :passport_number, :phone_number, :position, :creation_date, :roles)
</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'first_name': payload.firstName, 
	'last_name': payload.lastName, 
	'address': payload.address, 
	'age': payload.age, 
	'company_id': payload.companyId, 
	'department_id': vars.departmentId, 
	'password': payload.password, 
	'login': payload.login, 
	'passport_number': payload.passportNumber, 
	'phone_number': payload.phoneNumber, 
	'position': payload.position, 
	'creation_date': payload.creationDate, 
	'roles': payload.roles
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="#['Employee ' ++ vars.employeeName ++ ' was created successfully']" doc:name="Set Payload" doc:id="e9bac012-d086-4c35-9124-98a6d99ef323" />
		<logger level="INFO" doc:name="Logger" doc:id="707f7324-ee55-498d-bf6c-3f4e9ce27540" />
	</flow>
	<flow name="getVacationsFlow" doc:id="645dc5bb-4ee4-478a-a22f-49ac14a0d1c6" >
		<db:select doc:name="Select" doc:id="1f9618dd-deba-49bd-a086-2425f9507620" config-ref="Database_Config">
			<db:sql >SELECT *
FROM vacation</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="39edd328-c156-47a4-bb3c-d678fbc67abb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	employeeId: payload01.employee_id,
	companyId: payload01.company_id,
	departmentId: payload01.department_id,
	startDate: payload01.start_vacation_date,
	periodOfDays: payload01.period_of_days,
	status: payload01.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5e5e8ab3-7e28-4ec3-8abe-c51fd20df6f8" />
	</flow>
	<flow name="postVacationsFlow" doc:id="9f2e88af-1144-465d-9eb9-493509103433" >
		<ee:transform doc:name="Transform Message" doc:id="51e53dc1-7669-40d0-98e8-d89ac4681123" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	employeeId: payload.employeeId,
	companyId: payload.companyId,
	departmentId: payload.departmentId,
	startDate: payload.startDate,
	periodOfDays: payload.periodOfDays,
	status: 'In process',
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="8969e2dd-6a60-45fa-8231-6b9dad58b381" config-ref="Database_Config">
			<db:sql >INSERT INTO vacation(company_id, creation_date, department_id, employee_id, period_of_days, start_vacation_date, status)
VALUES(:company_id, :creation_date, :department_id, :employee_id, :period_of_days, :start_vacation_date, :status)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'company_id': payload.companyId, 
	'creation_date': payload.creationDate, 
	'department_id': payload.departmentId, 
	'employee_id': payload.employeeId, 
	'period_of_days': payload.periodOfDays, 
	'start_vacation_date': payload.startDate, 
	'status': payload.status
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="Vacation was created successfully" doc:name="Set Payload" doc:id="50ea978f-f4b5-427c-90ff-a9c367d8b51e" />
		<logger level="INFO" doc:name="Logger" doc:id="b789cb0d-165e-4978-bc59-c5e58cc88649" />
	</flow>
	<flow name="getVacationByIdFlow" doc:id="905879ad-b574-4900-b02d-035b6834ee98" >
		<db:select doc:name="Select" doc:id="8fa44084-93c5-4d33-b933-686fb15cdf0c" config-ref="Database_Config">
			<db:sql >SELECT * 
FROM vacation
WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.vacationId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="40c2b953-88b7-4c5a-94dc-fd66bba7abe4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id[0],
	employeeId: payload.employee_id[0],
	companyId: payload.company_id[0],
	departmentId: payload.department_id[0],
	startDate: payload.start_vacation_date[0],
	periodOfDays: payload.period_of_days[0],
	status: payload.status[0],
	creationDate: payload.creation_date[0] as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="79d5e1b7-b1c1-40e4-97ab-75cc31ea22ea" />
	</flow>
	<flow name="postVacationByCompanyIdFlow" doc:id="cd4238dd-f49c-48ef-8edb-2be467fa6a76" >
		<ee:transform doc:name="Transform Message" doc:id="2e3f9a0e-93c1-41fe-acc2-f7ae0be28c16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	employeeId: payload.employeeId,
	companyId: vars.companyId,
	departmentId: payload.departmentId,
	startDate: payload.startDate,
	periodOfDays: payload.periodOfDays,
	status: 'In process',
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="27edc66e-1440-408b-a383-3c16ddce5766" config-ref="Database_Config">
			<db:sql >INSERT INTO vacation(company_id, creation_date, department_id, employee_id, period_of_days, start_vacation_date, status)
VALUES(:company_id, :creation_date, :department_id, :employee_id, :period_of_days, :start_vacation_date, :status)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'company_id': vars.companyId, 
	'creation_date': payload.creationDate, 
	'department_id': payload.departmentId, 
	'employee_id': payload.employeeId, 
	'period_of_days': payload.periodOfDays, 
	'start_vacation_date': payload.startDate, 
	'status': payload.status
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="Vacation was created successfully" doc:name="Set Payload" doc:id="f9534bba-79be-4a13-804d-1f4176bad19a" />
		<logger level="INFO" doc:name="Logger" doc:id="1abb4846-0e34-499c-97bf-12451b44c402" />
	</flow>
	<flow name="putVacationByIdFlow" doc:id="ca12c30e-8076-496f-b844-82d92918a42c">
		<ee:transform doc:name="Transform Message" doc:id="882a1a8c-4747-45ab-90ad-a7848d319b05">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	employeeId: payload.employeeId,
	companyId: payload.companyId,
	departmentId: payload.departmentId,
	startDate: payload.startDate,
	periodOfDays: payload.periodOfDays,
	status: payload.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="955ab818-7a6d-4bc6-b58e-81cf28dabde2" config-ref="Database_Config">
			<db:sql>UPDATE vacation
SET
	company_id = :company_id, 
	department_id = :department_id, 
	employee_id = :employee_id, 
	period_of_days = :period_of_days, 
	start_vacation_date = :start_vacation_date, 
	status = :status 
WHERE id = :id</db:sql>
			<db:input-parameters><![CDATA[#[{
	'company_id': payload.companyId, 
	'department_id': payload.departmentId, 
	'employee_id': payload.employeeId, 
	'period_of_days': payload.periodOfDays, 
	'start_vacation_date': payload.startDate, 
	'status': payload.status,
	'id': vars.vacationId 
}]]]></db:input-parameters>
		</db:update>
		<set-payload value="Vacation was modified successfully" doc:name="Set Payload" doc:id="93442c6e-81ee-4410-b346-4e22a576a1e1" />
		<logger level="INFO" doc:name="Logger" doc:id="0d910b48-29e4-4787-8b82-7cf38797ef70" />
	</flow>
	<flow name="deleteVacationByIdFlow" doc:id="c7daf674-ee6c-4105-800f-94ddf30e1050">
		<set-variable value="200" doc:name="httpStatus" doc:id="0e870d29-e2c8-4a4e-bad8-4ac6ab14e3c5" variableName="httpStatus" />
		<db:delete doc:name="Delete" doc:id="699873f7-1479-427a-9b01-f8be1277f7e3" config-ref="Database_Config">
			<db:sql>DELETE FROM vacation
WHERE id = :id</db:sql>
			<db:input-parameters><![CDATA[#[{
	'id': vars.vacationId
}]]]></db:input-parameters>
		</db:delete>
		<set-payload value="#['Vacation was deleted successfully']" doc:name="Set Payload" doc:id="29459175-10b9-4330-9e69-3c08b687adba" />
		<logger level="INFO" doc:name="Logger" doc:id="14e0d800-3dca-4042-bacf-cf75e2167f67" />
	</flow>
	<flow name="getVacationByCompanyIdFlow" doc:id="52d1b3e1-8b21-40fc-9e71-792417442dc8" >
		<db:select doc:name="Select" doc:id="6b38a7c3-db4b-4c62-a92e-5834114febca" config-ref="Database_Config">
			<db:sql >SELECT * 
FROM vacation 
WHERE company_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.companyId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="4d0c1f2e-eec0-49fb-9420-86a18e631f00" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	employeeId: payload01.employee_id,
	companyId: payload01.company_id,
	departmentId: payload01.department_id,
	startDate: payload01.start_vacation_date,
	periodOfDays: payload01.period_of_days,
	status: payload01.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e0c8a610-2e7e-4ca5-a81c-d1afaac282b9" />
	</flow>
	<flow name="getVacationsByDepartmentIdFlow" doc:id="f39bc042-724c-46f7-b0fd-6a0a1f8315cc" >
		<db:select doc:name="Select" doc:id="02431586-efd3-4988-922c-417f1e8b372f" config-ref="Database_Config">
			<db:sql >SELECT * 
FROM vacation 
WHERE department_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.departmentId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="bee26cbb-882e-46a3-8c43-8fa7c39d723d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	employeeId: payload01.employee_id,
	companyId: payload01.company_id,
	departmentId: payload01.department_id,
	startDate: payload01.start_vacation_date,
	periodOfDays: payload01.period_of_days,
	status: payload01.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0132501a-5840-4fe8-8a56-04dea83d729a" />
	</flow>
	<flow name="postVacationByDepartmentIdFlow" doc:id="9534688a-9c1f-4a8c-8c81-323f49c46763" >
		<ee:transform doc:name="Transform Message" doc:id="b94cd832-11fb-48bd-90c5-ead28eead223" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	employeeId: payload.employeeId,
	companyId: payload.companyId,
	departmentId: vars.departmentId,
	startDate: payload.startDate,
	periodOfDays: payload.periodOfDays,
	status: 'In process',
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="bcf8d85d-9845-41a6-8d87-f7314f8bb2e7" config-ref="Database_Config">
			<db:sql >INSERT INTO vacation(company_id, creation_date, department_id, employee_id, period_of_days, start_vacation_date, status)
VALUES(:company_id, :creation_date, :department_id, :employee_id, :period_of_days, :start_vacation_date, :status)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'company_id': payload.companyId, 
	'creation_date': payload.creationDate, 
	'department_id': vars.departmentId, 
	'employee_id': payload.employeeId, 
	'period_of_days': payload.periodOfDays, 
	'start_vacation_date': payload.startDate, 
	'status': payload.status
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="Vacation was created successfully" doc:name="Set Payload" doc:id="4654f942-535d-4ff0-9e4a-ae1fff59acec" />
		<logger level="INFO" doc:name="Logger" doc:id="330c19ae-f82c-48e3-acd2-bd91c3727a97" />
	</flow>
	<flow name="getVacationsByEmployeeIdFlow" doc:id="00718558-91f8-4d10-8ce7-8761adde58f0" >
		<db:select doc:name="Select" doc:id="886d73e9-7fb5-460a-8044-1bebf1ccc9de" config-ref="Database_Config">
			<db:sql >SELECT * 
FROM vacation 
WHERE employee_id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id': vars.employeeId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f9a673ec-e76e-422c-917a-937814f028d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	employeeId: payload01.employee_id,
	companyId: payload01.company_id,
	departmentId: payload01.department_id,
	startDate: payload01.start_vacation_date,
	periodOfDays: payload01.period_of_days,
	status: payload01.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5c4cc200-3e3c-49f0-b298-f62dc0679b71" />
	</flow>
	<flow name="postVacationByEmployeeIdFlow" doc:id="fced0a26-a3a6-4cfa-8672-f69f8661fc5d" >
		<ee:transform doc:name="Transform Message" doc:id="865a5585-4a87-4ff1-b40d-4bec43aac86c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	employeeId: vars.employeeId,
	companyId: payload.companyId,
	departmentId: payload.departmentId,
	startDate: payload.startDate,
	periodOfDays: payload.periodOfDays,
	status: 'In process',
	creationDate: now() as Date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="ac5fdd93-45a4-413d-b4ce-394c91ebadb3" config-ref="Database_Config">
			<db:sql >INSERT INTO vacation(company_id, creation_date, department_id, employee_id, period_of_days, start_vacation_date, status)
VALUES(:company_id, :creation_date, :department_id, :employee_id, :period_of_days, :start_vacation_date, :status)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'company_id': payload.companyId, 
	'creation_date': payload.creationDate, 
	'department_id': payload.departmentId, 
	'employee_id': vars.employeeId, 
	'period_of_days': payload.periodOfDays, 
	'start_vacation_date': payload.startDate, 
	'status': payload.status
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="Vacation was created successfully" doc:name="Set Payload" doc:id="d90f2417-7280-45cd-836c-dc3b3030c0eb" />
		<logger level="INFO" doc:name="Logger" doc:id="d4d2a1e3-f774-41e2-a191-6c2f56fed440" />
	</flow>
</mule>
